.cf:before, .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.cf {
    *zoom: 1;
}

.btn,
.navbar-default, .navbar-default .navbar-header .navbar-brand,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Sans', sans-serif;
}

#homeHeading {
    letter-spacing: 1px;
}

#homeHeading span {
    color: #c99065;
}

.section-heading {
    font-size: 3em;
    font-weight: bold;
}

.homeSubHeading {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 2em;
    text-transform: uppercase;
}

.profile-img {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/josesantana.jpg);
    height: 220px;
    width: 220px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 1px -1px 10px 10px rgba(100, 100, 100, 0.75);
}

.about-p {
    font-size: 18px;
    color: #fff;
    line-height: 1.75em;
}

.intro-flare {
    color: #e1c285;
}

.about-p strong {
    font-size: 24px;
    color: rgba(201, 144, 101, 0.75);
}

.section-h3-heading {
    color: rgba(201, 144, 101, 0.9);
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.about-container-one h2,
.about-container-two h2 {
    text-transform: uppercase;
}
.about-container-one h2 span,
.about-container-two h2 span {
    color: #c99065;
}

.fa-eye {
  font-size: 5em;
}

.bg-primary {
    background-color: #191919;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuOCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgb(255, 255, 255)), color-stop(0, rgb(0, 0, 0)), color-stop(0.8, rgb(0, 0, 0)), color-stop(1, rgb(255, 255, 255)), color-stop(1, rgb(255, 255, 255)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 90%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 90%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%);
    background-image: -ms-repeating-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 90%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%);
}


/* IE8- CSS hack */

@media \0screen\, screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffffff", endColorstr="#ffffffff", GradientType=0);
    }
}

.LI-profile-badge {
    display: flex;
    justify-content: center;
    margin: 2.5em auto;
}


/* button shadow */

.header-button {
    display: inline-block;
    text-transform: uppercase;
    padding: 20px 30px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    background-color: #e1c285;
}

.header-button:hover {
    background-color: #C99065;
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.2);
}


/* Pulse */

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 3px 3px 3px rgba(100, 100, 100, 0.5);
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* Icon Grow */

.hvr-icon-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 3px 3px 3px rgba(100, 100, 100, 0.5);
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-grow:before {
    content: "\f118";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-grow:hover:before, .hvr-icon-grow:focus:before, .hvr-icon-grow:active:before {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
}

section#contact {
    padding-bottom: 15px;
}

section.form-layout {
    padding: 15px 0;
}

form {
    max-width: 450px;
    margin: 0 auto 100px;
    padding: 0 20px;
}

form input, form textarea {
    border: 3px solid #e1c285;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #c99065;
}

form textarea {
    height: 10em;
    resize: none;
}

form .submit-wrap {
    text-align: right;
}

form [type="submit"] {
    background: #e1c285;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    width: 33%;
}

form [type="submit"]:hover {
    background: #c99065;
}

form .contact-info-group label {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form .contact-info-group label:nth-child(1) {
    padding-right: 10px;
}

form .contact-info-group label:nth-child(2) {
    padding-left: 10px;
}

form label {
    display: block;
    margin-bottom: 20px;
}

form label span {
    display: block;
}

@media (max-width: 541px) {
    form .contact-info-group label {
        width: 100%;
    }
    form .contact-info-group label:nth-child(1) {
        padding: 0;
    }
    form .contact-info-group label:nth-child(2) {
        padding: 0;
    }
    form [type="submit"] {
        width: 100%;
    }
}

.form-success {
    background: #e5eaee;
    text-align: center;
}

.form-success p {
    font-size: 18px;
}


/* page load */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background: #E1C285;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
    transform: translateX(100%) translateY(-100%) rotate(45deg);
    pointer-events: none;
}

.pace.pace-active .pace-activity {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.pace .pace-activity::before, .pace .pace-activity::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.pace .pace-activity::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
    animation: pace-theme-corner-indicator-spin 3s linear infinite;
}

.pace .pace-activity::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
    animation: pace-theme-corner-indicator-spin 1s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes pace-theme-corner-indicator-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}


/* 1200px and up */

@media screen and (min-width: 992px) {
    .about-container-one h2 {
        float: left;
        width: 30%;
        font-size: 4.5em;
        margin-top: 0;
        text-transform: uppercase;
    }
    .about-container-one h2 span {
        color: #c99065;
    }
    .about-container-one p {
        width: 70%;
        float: left;
    }
    .about-container-two h2 {
        float: left;
        width: 30%;
        font-size: 3em;
        margin-top: 0;
        text-transform: uppercase;
    }
    .about-container-two h2 span {
        color: #c99065;
    }
    .about-container-two p {
        width: 70%;
        float: left;
    }
    .section-h3-heading {
        clear: both;
    }
}
